<div id="cookie">
  <figure>
    <img src="/images/cookie.gif_c200" alt="">
  </figure>
  <h4>Want a Cookie?</h4>
  <p>This web site uses cookies to save user data and improve your experience!</p>
  <form  method="post">
    <button type="submit" name="button"><p>Confirm</p></button>
  </form>
</div>
