<footer>
  <section>
    <div class="contact_site">
      <h3>contact us:</h3>
      <ul>
        <li>Email:bloggle@rmail.com</li>
        <li>Number: 082 093 2887</li>
      </ul>
    </div>
    <div class="links">
      <ul>
        <li>
          <a href="/" ><p class="home_page">Home</p></a>
        </li>
        <li>
          <a href="/create"><p  class="create_page">Create</p></a>
        </li>
        <li>
          <a href="/archive"><p  class="archive_page">Archive</p></a>
        </li>
        <li>
          <a href="/contact"><p  class="contact_page">Contact</p></a>
        </li>
      </ul>
    </div>
  </section>
  <div class="absolute_footer">
  <p>copyright &copy; privacy policy</p>
  </div>
</footer>
