<nav class="sticky_nav">
  <a href="/">
    <figure>
      <img src="/images/icons_logos/logo.png" alt="">
    </figure>
  </a>
  <div class="menu">
    <div class="menu_content">
      <span>
        <a href="/" ><p class="home_page nav_link">HOME</p></a>
        <a href="/create"><p  class="create_page nav_link">CREATE</p></a>
        <a href="/archive"><p  class="archive_page nav_link">ARCHIVE</p></a>
        <!-- dummy tag -->
        <a href="/contact"><p  class="contact_page nav_link">CONTACT</p></a>
      </span>
    </div>
  </div>
</nav>
<nav class="static_nav">
  <div class="signedIn">
    <p><%= user %></p>
  </div>
  <div class="signIn_signUp">
    <% if (logedIn == false){%>
      <a href="/sign_in"><button type="button" name="button"><p class="sign_button">Log In</p></button></a>
      <p class="or">or</p>
      <a href="/register"><button type="button" name="button"><p class="sign_button">Sign Up</p></button></a>
    <%}else{%>
      <a href="/sign_out"><button type="button" name="button"><p class="sign_button">Log Out</p></button></a>
    <%}%>
  </div>

</nav>
