// font
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
  // gives background image
  background-image: url('/../images/architecture-buildings-business-1134166.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // remove margin
  margin: 0px;
  // sets fonts
  *{
    font-family: 'Slabo 27px', serif;
    font-family: 'Quicksand', sans-serif;
  }
  main{
    form{
      margin: 7vh 0px;
      min-height: 80vh;
      // bg-color
      background-color: white;
      border-radius: 6px;
      // padding
      padding: 30px;
      // fonts
      h2{
        font-size: 60px;
      }
      // fonts
      h3{
        font-size: 48px;
      }
      // fonts
      p{
        font-size: 45px;
      }
      input{
        // size and fonts
        width: 90%;
        height: 65px;
        font-size: 40px;
      }
      #check{
        margin-top: 30px;
        width: 25px !important;
        background-color: blue;
      }
      button{
        // size
        margin: 30px 0px;
        width: 100%;
        // colors
        color: white;
        background-color: #28ff28;
        // border
        border:none;
        outline: none;
        border-radius: 18px;
        // text in button
        p{
          margin:40px 0px;
        }
        // for hover
        &:hover{
          background-color: #4eff4e;
        }
        // for active
        &:active{
          background-color: #009b00;
        }
      }
    }
  }
}

// responsiv design

// tablet view
@media only screen and (min-device-width:700px) {
  body{
    main{
      form{
        margin: 7vh 10%;
        // fonts
        h2{
          font-size: 50px;
        }
        // fonts
        h3{
          font-size: 40px;
        }
        // fonts
        p{
          font-size: 35px;
        }
        input{
          // size and fonts
          height: 55px;
          font-size: 35px;
        }
        button{
          p{
            margin:35px 0px;
          }
        }
      }
    }
  }
}

// computer view
@media only screen and (min-device-width:1000px) {
  body{
    main{
      form{
        // height
        min-height: 91vh;
        margin: 0px 20%;
        padding: 30px 18%;
        // fonts
        h2{
          font-size: 30px;
        }
        // fonts
        h3{
          font-size: 20px;
        }
        // fonts
        p{
          font-size: 17px;
        }
        input{
          width: 80%;
          // size and fonts
          height: 19px;
          font-size: 15px;
        }
        button{
          width: 70%;
          p{
            margin:14px 0px;
          }
        }
      }
    }
  }
}
